.flower-scroller {
    width: 100%;
    height: 100%;
    margin-left: -31px;
}
.flower-scroller :nth-of-type(2), .flower-scroller :nth-of-type(3) {
    margin-left: -31px;
}

.info-container {
    padding: 5% 15% 0 0;
}
.images-container{
    display: flex;
    width: 100vw;
    overflow: hidden;
    margin-top: -15%;
}
.content{
    /* overflow-x: hidden; */
}

.carholder{
    overflow-x: hidden;
}

/* .images-container::-webkit-scrollbar {
    width: 0;
    background: transparent;  
} */